<link rel="stylesheet" href="css/homepage.css" />
<div id="main">
    <div ng-controller="HomepageController"></div>
    <div id="slideshowContainer">
        <div
            class="slides"
            ng-repeat="slide in slides track by $index"
            ng-class="{'ng-show': $index === slideIndex}"
        >
            <img ng-src="{{slide.image}}" alt="Slide {{$index + 1}}" />
        </div>
        <div id="slideDots">
            <span
                class="dot"
                ng-class="{'active': $index === slideIndex}"
                ng-repeat="slide in slides track by $index"
                ng-click="currentSlide($index)"
            ></span>
        </div>
    </div>

    <div id="productTab"><span class="tab active">Products</span></div>
    <div id="productsContainerDiv">
        <div id="productsContainer" class="products">
            <a
                ng-repeat="product in products"
                ng-href="#!/product/{{product.productName}}"
            >
                <div class="product">
                    <img
                        ng-src="images/produk/{{product.images.default[0] }}"
                        alt="{{product.productName }}"
                    />
                    <h3>{{product.productName }}</h3>
                    <p>
                        {{'IDR ' + product.lowestPrice.toLocaleString() + ' -
                        IDR ' + product.highestPrice.toLocaleString() }}
                    </p>
                </div></a>
        </div>
    </div>
</div>
