<div class="container my-5" ng-controller="ProductDetailsController">
    <div ng-if="!error">
        <h1 class="text-center">{{product.productName }}</h1>
        <div class="row">
            <div class="col-md-6">
                <img
                    ng-src="images/produk/{{product.images.colors.default[0]}}  "
                    class="img-fluid"
                    alt=" {{product.productName }}"
                />
            </div>
            <div class="col-md-6">
                <p><strong>Category:</strong> {{product.category }}</p>
                <p>
                    <strong>Price Range:</strong> IDR {{product.lowestPrice |
                    number }} - IDR {{product.highestPrice | number }}
                </p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>

    <div class="comments">
        <h3>Comments</h3>
        <div ng-repeat="comment in comments">
            <p><strong>{{ comment.user }}:</strong> {{ comment.content }}</p>
        </div>
    </div>
    
    <div class="add-comment">
        <input type="text" ng-model="newComment.user" placeholder="Your name" />
        <textarea ng-model="newComment.content" placeholder="Add a comment"></textarea>
        <button ng-click="addComment()">Submit Comment</button>
    </div>

    <div ng-if="error">
        <p class="text-center text-danger">{{error }}</p>
    </div>
</div>
